<link rel="stylesheet" href="css/login.css">
<section class="dark:bg-[#141e27]">
    <form class="form dark:bg-[#1f2937]" action="/login" method="post">
       <p class="form-title dark:text-white">Logue em sua conta</p>
        <div class="input-container">
          <input type="text" placeholder="Seu Usuario" name="user">
          <span>
          </span>
      </div>
      <div class="input-container">
          <input name="senha" type="password" placeholder="Sua Senha">
        </div>
        <input type="submit" class="submit" value="Logar">
   </form>
</section>